<section class="collection">
    <div class="collection-container">
        <h2 class="header-collection">Our collection</h2>
        <ul class="collection-list">
            <li class="collection-list-item">
                <picture class="collection-img">
                    <source
                        srcset=""
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset=""
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./img/collection-img/tab-poltava-blouse.png 1x, ./img/collection-img/tab-poltava-blouse@2x.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./img/collection-img/mobile-august-poltava.png 1x, ./img/collection-img/mobile-august-poltava@2x.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        src=""
                        alt=""
                        width=""
                    />
                <div class="collection-list-text">
                <h3 class="text-style collection-list-header">AUGUST Poltava women's blouseRING</h3>
                <p class="text-style text-content">3300 UAH</p>
            </div>
            </li>
            <li class="collection-list-item">
                <picture class="collection-img">
                    <source
                        srcset=""
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset=""
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./img/collection-img/tab-gorgany-blouse.png 1x, ./img/collection-img/tab-gorgany-blouse@2x.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./img/collection-img/mobile-gorgany-blouse.png 1x, ./img/collection-img/mobile-gorgany-blouse@2x.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        src=""
                        alt=""
                        width=""
                    />
                    <div class="collection-list-text">
                <h3 class="text-style collection-list-header">Women's blouse Gorgany</h3>
                <p class="text-style text-content">3350 UAH</p>
            </div>
            </li>
            <li class="collection-list-item">
                <picture class="collection-img">
                    <source
                        srcset=""
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset=""
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./img/collection-img/tab-crimea-blouse.png 1x, ./img/collection-img/tab-crimea-blouse@2x.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./img/collection-img/mobile-crimea-blouse.png 1x, ./img/collection-img/mobile-crimea-blouse@2x.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        src=""
                        alt=""
                        width=""
                    />
                    <div class="collection-list-text">
                <h3 class="text-style collection-list-header">Women's blouse Crimea</h3>
                <p class="text-style text-content">4000 UAH</p>
            </div>
            </li>
            <li class="collection-list-item">
                <picture class="collection-img">
                    <source
                        srcset=""
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset=""
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./img/collection-img/tab-verkhovina-shirt.png 1x, ./img/collection-img/tab-verkhovina-shirt@2x.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./img/collection-img/mobile-verkhovina-shirt.png 1x, ./img/collection-img/mobile-verkhovina-shirt@2x.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        src=""
                        alt=""
                        width=""
                    />
                    <div class="collection-list-text">
                <h3 class="text-style collection-list-header">Men's shirt Verkhovina</h3>
                <p class="text-style text-content">3100 UAH</p>
            </div>
            </li>
            <li class="collection-list-item">
                <picture class="collection-img">
                    <source
                        srcset=""
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset=""
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./img/collection-img/tab-mountain-shirt.png 1x, ./img/collection-img/tab-mountain-shirt@2x.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./img/collection-img/mobile-mountain-shirt.png 1x, ./img/collection-img/mobile-mountain-shirt@2x.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        src=""
                        alt=""
                        width=""
                    />
                    <div class="collection-list-text">
                <h3 class="text-style collection-list-header">Mountain men's shirt</h3>
                <p class="text-style text-content">3300 UAH</p>
            </div>
            </li>
            <li class="collection-list-item">
                <picture class="collection-img">
                    <source
                        srcset=""
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset=""
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./img/collection-img/tab-yasen-shirt.png 1x, ./img/collection-img/tab-yasen-shirt@2x.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./img/collection-img/mobile-shirt-yasen.png 1x, ./img/collection-img/mobile-shirt-yasen@2x.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        src=""
                        alt=""
                        width=""
                    />
                    <div class="collection-list-text">
                <h3 class="text-style collection-list-header">Men's shirt Yasen</h3>
                <p class="text-style text-content">1700 UAH</p>
            </div>
            </li>
        </ul>
    </div>
</section>