<section class="collection collection-section">
  <div class="container collection-container">
    <h2 class="header-collection" id="collection">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <picture class="collection-img">
          <source
            srcset="
              ./img/collection-img/desc-1440-poltava-blouse.jpg    1x,
              ./img/collection-img/desc-1440-poltava-blouse@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-img/desc-1280-poltava-blouse.jpg    1x,
              ./img/collection-img/desc-1280-poltava-blouse@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-img/tab-poltava-blouse.jpg    1x,
              ./img/collection-img/tab-poltava-blouse@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-img/mobile-august-poltava.jpg    1x,
              ./img/collection-img/mobile-august-poltava@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="collection-photo"
            src="./img/collection-img/desc-1440-poltava-blouse.jpg"
            alt="Poltava Blousering"
            width="400"
            height="430"
          />
        </picture>
        <div class="collection-list-text">
          <h3 class="text-style collection-list-header">
            August Poltava women's blousering
          </h3>
          <p class="text-style text-content">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture class="collection-img">
          <source
            srcset="
              ./img/collection-img/desc-1440-gorgany-blouse.jpg    1x,
              ./img/collection-img/desc-1440-gorgany-blouse@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-img/desc-1280-blouse-gorgany.jpg    1x,
              ./img/collection-img/desc-1280-blouse-gorgany@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-img/tab-gorgany-blouse.jpg    1x,
              ./img/collection-img/tab-gorgany-blouse@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-img/mobile-gorgany-blouse.jpg    1x,
              ./img/collection-img/mobile-gorgany-blouse@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="collection-photo"
            src="./img/collection-img/desc-1440-gorgany-blouse.jpg"
            alt="Gorgany blouse"
            width="400"
            height="430"
          />
        </picture>

        <div class="collection-list-text">
          <h3 class="text-style collection-list-header">
            Women's blouse Gorgany
          </h3>
          <p class="text-style text-content">3350 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture class="collection-img">
          <source
            srcset="
              ./img/collection-img/desc-1440-crimea-blouse.jpg    1x,
              ./img/collection-img/desc-1440-crimea-blouse@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-img/desc-1280-crimea-blouse.jpg    1x,
              ./img/collection-img/desc-1280-crimea-blouse@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-img/tab-crimea-blouse.jpg    1x,
              ./img/collection-img/tab-crimea-blouse@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-img/mobile-crimea-blouse.jpg    1x,
              ./img/collection-img/mobile-crimea-blouse@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="collection-photo"
            src="./img/collection-img/desc-1440-crimea-blouse.jpg"
            alt="Crimea blouse"
            width="400"
            height="430"
          />
        </picture>

        <div class="collection-list-text">
          <h3 class="text-style collection-list-header">
            Women's blouse Crimea
          </h3>
          <p class="text-style text-content">4000 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture class="collection-img">
          <source
            srcset="
              ./img/collection-img/desc-1440-verkhovina-shirt.jpg    1x,
              ./img/collection-img/desc-1440-verkhovina-shirt@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-img/desc-1280-verkhovina-shirt.jpg    1x,
              ./img/collection-img/desc-1280-verkhovina-shirt@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-img/tab-verkhovina-shirt.jpg    1x,
              ./img/collection-img/tab-verkhovina-shirt@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-img/mobile-verkhovina-shirt.jpg    1x,
              ./img/collection-img/mobile-verkhovina-shirt@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="collection-photo"
            src="./img/collection-img/desc-1440-verkhovina-shirt.jpg"
            alt="Verkhovina shirt"
            width="400"
            height="430"
          />
        </picture>

        <div class="collection-list-text">
          <h3 class="text-style collection-list-header">
            Men's shirt Verkhovina
          </h3>
          <p class="text-style text-content">3100 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture class="collection-img">
          <source
            srcset="
              ./img/collection-img/desc-1440-mountain-shirt.jpg    1x,
              ./img/collection-img/desc-1440-mountain-shirt@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-img/desc-1280-mountain-shirt.jpg    1x,
              ./img/collection-img/desc-1280-mountain-shirt@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-img/tab-mountain-shirt.jpg    1x,
              ./img/collection-img/tab-mountain-shirt@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-img/mobile-mountain-shirt.jpg    1x,
              ./img/collection-img/mobile-mountain-shirt@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="collection-photo"
            src="./img/collection-img/desc-1440-mountain-shirt.jpg"
            alt="Mountain shirt"
            width="400"
            height="430"
          />
        </picture>

        <div class="collection-list-text">
          <h3 class="text-style collection-list-header">
            Mountain men's shirt
          </h3>
          <p class="text-style text-content">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture class="collection-img">
          <source
            srcset="
              ./img/collection-img/desc-1440-yasen-shirt.jpg    1x,
              ./img/collection-img/desc-1440-yasen-shirt@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-img/desc-1280-yasen-shirt.jpg    1x,
              ./img/collection-img/desc-1280-yasen-shirt@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-img/tab-yasen-shirt.jpg    1x,
              ./img/collection-img/tab-yasen-shirt@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-img/mobile-shirt-yasen.jpg    1x,
              ./img/collection-img/mobile-shirt-yasen@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="collection-photo"
            src="./img/collection-img/desc-1440-yasen-shirt.jpg"
            alt="Yasen shirt"
            width="400"
            height="430"
          />
        </picture>

        <div class="collection-list-text">
          <h3 class="text-style collection-list-header">Men's shirt Yasen</h3>
          <p class="text-style text-content">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
