<footer class="section">
  <div class="footer-container container">
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-link" href="#about">about us</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#order">customer order</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#collection">our collection</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#testimonials ">testimonials</a>
      </li>
    </ul>
    <p class="footer-text">
      A touch of <span class="footer-text-word">Ukrainian</span> culture in
      every embroidery
    </p>
  </div>
</footer>
