<div class="container">
  <section class="hero">
    <h1 class="hero-title">
      Reviving the traditional
      <span class="hero-title-item">Ukrainian</span> artistry in every stitch.
    </h1>
    <div class="hero-link-container">
      <a class="hero-link" href=""
        ><p>Order</p>
        <svg class="link-icon" width="26" height="10">
          <use href="../img/hero-img/icon.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>

    <img
      class="hero-picture"
      srcset="../img/hero-img/girl-1x.jpg 1x, ../img/hero-img/girl-2x.jpg 2x"
      src="../img/hero-img/girl-1x.jpg"
      alt="girl"
      width="335"
      height="545"
    />
  </section>
</div>
