<section class="section-order">

    <div class="container">

        <section class="img-first">

        </section>

        <div class="order-wrap">
            <div class="order-input-part">
                <h2 class="order-title"><span class="order-span">Your order</span> is our priority: Personalized
                    approach and quality of service</h2>
                <form class="order-form">
                    <div class="order-field">
                        <label class="order-label" for="text"></label>
                        <input class="order-input" type="text" name="text" id="text"
                            placeholder="Enter your full name" />

                    </div>

                    <div class="order-field">
                        <label class="order-label" for="email">
                            <input class="order-input" type="email" name="email" id="email"
                                placeholder="Enter your email" />
                    </div>

                    <div class="comment-order-field">
                        <label class="order-label" for="text">
                            <textarea class="order-comment-area" name="user-comment" id="user-comment"
                                placeholder="Comments"></textarea>

                    </div>

                    <button type="send-btn" class="order-btn-input">Send
                        <svg class="order-icon" width="18" height="24">
                            <use href="./icons.svg#icon-arrow"></use>



                        </svg>
                    </button>
            </div>
            <picture>
                <source srcset="./image/order-pc2.jpg 1x, ./image/order-pc2-x2.jpg 2x" media="(min-width: 1440px)">
                <source srcset="./image/order-pc.jpg 1x, ./image/order-pc-x2.jpg 2x" media="(min-width: 1280px)">
                <source srcset="./image/order-tab.jpg 1x, ./image/order-tab-x2.jpg 2x" media="(min-width: 768px)">
                <!-- <source srcset="./image/girl-tel.jpg 1x, ./image/girl-tel-x2.jpg 2x" media="(min-width: 375px)"> -->
                <img class="section-order-img2" src="./image/order-tab.jpg" alt="Girl" width="375" height="550">
            </picture>
            </form>
        </div>

    </div>
</section>