<section class="testimonials" id="#testimonials">
  <div class="container">
    <h2 class="section-title">Testimonials</h2>
    <ul class="testimonial-list">
      <li class="testimonial-list-item">
        <div class="item-container">
          <picture class="photo">
            <source
              srcset="
                ../img/Testimonials/Maria-Tkachuk.jpg    1x,
                ../img/Testimonials/Maria-Tkachuk-2x.jpg 2x
              "
            />
            <img
              src="../img/Testimonials/Maria-Tkachuk.jpg"
              alt="photo of young woman"
              width="64px"
              height="64px"
            />
          </picture>
          <h3 class="item-title">Maria Tkachuk</h3>
          <p class="description">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonial-list-item">
        <div class="item-container">
          <picture class="photo">
            <source
              srcset="
                ../img/Testimonials/Sergey-Rybachok.jpg    1x,
                ../img/Testimonials/Sergey-Rybachok-2x.jpg 2x
              "
            />

            <img
              src="../img/Testimonials/Sergey-Rybachok.jpg"
              alt="photo of young men"
              width="64px"
              height="64px"
            />
          </picture>
          <h3 class="item-title">Sergey Rybachok</h3>
          <p class="description">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="testimonial-list-item">
        <div class="item-container">
          <picture class="photo">
            <source
              srcset="
                ../img/Testimonials/Natalia-Chatuk.jpg    1x,
                ../img/Testimonials/Natalia-Chatuk-2x.jpg 2x
              "
            />
            <img
              src="../img/Testimonials/Natalia-Chatuk.jpg"
              alt="photo of young woman"
              width="64px"
              height="64px"
            />
          </picture>
          <h3 class="item-title">Natalia Chatuk</h3>
          <p class="description">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
