.about-us-section {
  background-image: url('../img/about/elements-mob.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-us-container {
  padding-top: 80px;
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-us-section {
    background-image: url('../img/about/elements-mob@2x.png');
    background-size: 250px 408px;
  }
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
}
.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.about-text {
  font-size: 14px;
  color: rgba(252, 249, 249, 0.4);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

.about-us-photo {
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .about-us-section {
    background-image: url('../img/about/elements-tab.png');
  }

  .about-us-container {
    padding-top: 100px;
    padding-bottom: 50px;
    gap: 40px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-us-section {
      background-image: url('../img/about/elements-tab@2x.png');
      /* background-size: 48%; */
      background-size: 369px 484px;
    }
  }
  .about-title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -1.32px;
  }
  .about-text {
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-section {
    background-image: url('../img/about/elements-desk1280.png');
  }

  .about-us-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 150px;
    padding-bottom: 80px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-us-section {
      background-image: url('../img/about/elements-desk1280@2x.png');
      background-size: 385px 484px;
    }
  }
  .text-container {
    max-width: 436px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-section {
    background-image: url('../img/about/elements-desk1440.png');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-us-section {
      background-image: url('../img/about/elements-desk1440@2x.png');
      background-size: 545px 484px;
    }
  }

  .text-container {
    max-width: 481px;
  }
}
