.about-us-section {
  background-image: url(../img/about/elements.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-us-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.about-text {
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 1.38;
  letter-spacing: -0.04em;
}

.about-text:not(:last-child) {
  margin-bottom: 20px;
}
