body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  color: #fcf9f9;
}

.container {
  margin: 0 auto;
  width: 375px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1100px;
    padding: 0 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1260px;
  }
}
