.collection-container{
    padding-top: 18px;
    padding-bottom: 80px;
}
.header-collection{
    text-align: center;
    margin-bottom: 40px;
    color: #FCF9F9;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
}
.text-style{
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
}
.collection-list-header{
    color: #FCF9F9;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.text-content {
    color: rgba(252, 249, 249, 0.40);
    font-weight: 400;
}
.collection-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.collection-list-item{
    flex-basis: 100%;
}
.collection-list-text{
    margin-top: 18px;
}
.collection-list-item:first-child .collection-list-header{
    white-space: nowrap;
    width: 335px;
}
@media not screen and (min-width: 1440px) {
    .collection-list-item:first-child .collection-list-header{
        overflow: hidden;
        text-overflow: ellipsis;
    }   
}
.collection-section {
    background-image: url("../img/collection-img/mobile-collection-bg.png"); 
    background-position: 0px 316px;
    background-repeat: no-repeat;
    background-size: 199px 177px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .collection-section {
        background-image: url("../img/collection-img/mobile-collection-bg@2x.png"); 
    }
}
    @media screen and (min-width: 768px){
        .collection-container{
            padding-top: 50px;
            padding-bottom: 150px;
        }
        .header-collection{
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em;
        }
        .collection-list-item {
            flex-basis: calc((100% - 20px) / 2);
        }
        .text-style{
            letter-spacing: 0.9px; 
            font-size: 18px;
        }
        .collection-list-item:first-child .collection-list-header {
            width: 342px;
        }
        .collection-section {
            background-image: url("../img/collection-img/tab-collection-bg.png"); 
            padding: 0px 0.453px 0.334px 0px;
            background-size: 338px 300px;
        }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .collection-section {
                background-image: url("../img/collection-img/tab-collection-bg@2x.png"); 
            }
        }
    }
    @media screen and (min-width: 1280px) and (max-width: 1439px){ 
        .collection-container{
            padding-top: 70px;
            padding-right: 98px;
        }
    } 
    @media screen and (min-width: 1280px){
        .collection-list-item:first-child .collection-list-header{
            width: 345px;
        }
        .collection-list{
            gap: 40px 20px;
        }
        .collection-list-item {
            flex-basis: calc((100% - 40px) / 3);
        }
        .collection-container{
            padding-top: 150px;
        }
        .collection-section {
            background-image: url("../img/collection-img/desc-1280-collection-bg.png"); 
            background-position: 0px 316px;
            background-repeat: no-repeat;
        }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .collection-section {
                background-image: url("../img/collection-img/desc-1280-collection-bg@2x.png"); 
            }
        }
    }
    @media screen and (min-width: 1400px){
        .collection-section {
            background-image: url("../img/collection-img/desc-1440-collection-bg.png"); 
            background-position: 0px 316px;
            background-repeat: no-repeat;
        }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .collection-section {
                background-image: url("../img/collection-img/desc-1440-collection-bg@2x.png"); 
            }
        }
    }