.collection-container{
    max-width: 335px;
    margin: 0 auto;
}
.header-collection{
    text-align: center;
    margin-bottom: 40px;
    color: #FCF9F9;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
}
.text-style{
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
}
.collection-list-header{
    color: #FCF9F9;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.text-content{
    color: rgba(252, 249, 249, 0.40);
    font-weight: 400;
}
.collection-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.collection-list-item{
    flex-basis: 100%;
}
.collection-list-text{
    padding-top: 18px;
}
.list-header-points{
    display: none;
}
/* .collection .collection-list-item:first-child{
    background-image: url("../img/collection-img/mobile-collection-bg.png"); 
    background-size: 177px 199px;
    background-repeat: no-repeat;} */
    /* position: absolute;

} */
/* .collection{
    background-image: url("../img/collection-img/mobile-collection-bg.png"); 
    background-size: cover;
    background-repeat: no-repeat;} */

    @media screen and (min-width: 768px) {
        .collection-container{
            max-width: 704px;
        }
        .header-collection{
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em;
        }
        .collection-list-item {
            flex-basis: calc((100% - 20px) / 2);
        }
        .text-style{
            font-size: 18px;
        }
        .collection-list-item:first-child .collection-list-header{
            
    
            /*;
            -webkit-box-orient: vertical;    */
/* 
            word-wrap: break-word;
        
            overflow: hidden; */
            white-space: nowrap;
            overflow: hidden;
            /* overflow-wrap: break-word; */
            width: 342px;
            text-overflow: ellipsis; 
            /* -webkit-line-clamp: 1; */
            
        } 
        .collection-list-item:first-child .collection-list-text{
            /* display: inline-flex;
            flex-direction: column;
            gap: 8px */
            /* width: 100%; */
        }
        .collection-list-header{
            text-align: left;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        
    }