.section {
  background-image: url(../img/footer/footer.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer-container {
  width: 375px;
  height: 649px;
  padding-top: 40px;
  margin: 0;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
}
.footer-item {
  flex-wrap: wrap;
  width: calc((100% - 40px) / 2);
}
.footer-link {
}
.footer-text {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
  padding-top: 40px;
}

.footer-text-word {
  color: #ecd979;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-top: 40px;
  }

  .footer-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-text {
    width: 521px;
    font-size: 54px;
    line-height: 1.18;
  }
  .footer-text-word {
    color: var(--white, #ecd979);
    font-family: Manrope;
    font-size: 54px;
    line-height: 1, 18;
  }
  .footer-list {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 100px;
  }
  .footer-text {
    width: 754px;
    font-size: 64px;
    line-height: 1.15;
    letter-spacing: 33.3em;
  }
  .footer-text-word {
    font-size: 64px;
    line-height: 1.15;
    letter-spacing: 33.3em;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 363px;
    padding-top: 40px;
  }
  .footer-text {
    font-size: 64px;
    line-height: 1.15;
  }
  .footer-text-word {
    font-size: 64px;
    line-height: 1.15;
  }
}
