.header-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  height: 72px;
}

.header-logo-img {
  margin-right: 87px;
}

.header-nav-list,
.header-phone-container {
  display: none;
}

.header-social-list {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .header-social-list {
    margin-right: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-social-list {
    margin-right: 20px;
  }
}

.social-link-container {
  width: 44px;
  height: 44px;
  background-color: rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-container:hover,
.social-link-container:focus {
  background-color: transparent;
  border-color: #ecd979;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header-logo-img {
    margin-right: 440px;
  }

  .menu-open-btn,
  .menu-open-icon {
    width: 44px;
    height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo-img {
    margin-right: 60px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    margin-right: 129px;
  }

  .header-nav-list {
    display: flex;
    gap: 25px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.29;
  }

  .header-address {
    display: flex;
    gap: 20px;
  }

  .header-nav-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    color: #ecd979;
  }

  .header-phone-container {
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    display: block;
    font-style: normal;
  }

  .header-phone-link {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.43;
  }

  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding-top: 18px;
  }
  .header-nav {
    margin-right: 289px;
  }
}
