.hero {
  padding-top: 60px;
}

.hero-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

.hero-title-item {
  color: #ecd979;
}

.star-container {
  display: none;
  width: 115px;
  height: 111px;
}

.hero-link-container {
  display: flex;
  margin-left: 70px;
  height: 49px;
}

.link-icon {
  fill: #ecd979;
}

.hero-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  padding: 14px 36px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  border: 1px solid #ecd979;
}

.hero-picture {
  border-radius: 4px;
}

.map-img {
  display: none;
}

@media screen and (max-width: 1279px) {
  .title-container {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }

  .hero-cotainer {
    position: relative;
  }

  .title-container {
    padding-top: 26px;
  }

  .hero-title {
    max-width: 549px;
    margin-bottom: 40px;
    font-size: 54px;
    line-height: 1.19;
  }

  .hero-link {
    padding: 14px 39px;
    font-size: 16px;
  }

  .hero-link-container {
    margin-left: 141px;
  }

  .star-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .star-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    fill: #ecd979;
  }

  .star-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.04em;
  }

  .map-img {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 100px;
  }

  .hero-cotainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .title-container {
    padding-top: 94px;
  }

  .hero-title {
    max-width: 518px;
  }

  .hero-picture {
    margin-right: 40px;
  }

  .star-container {
    top: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    max-width: 632px;
    font-size: 64px;
    line-height: 1.16;
    letter-spacing: -0.02em;
  }

  .star-container {
    top: 66px;
  }

  .title-container {
    padding-top: 66px;
  }
}
