.mob-menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 251px;
  width: 274px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ecd979;
  z-index: 1;
  background-image: url(../img/menu/mob-ornament.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 20px 20px 0px 20px;
  
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mob-menu {
    background-image: url('../img/menu/mob-ornament@2x.png');
    background-size: 274px 251px;
  }
}

.is-open {
  display: block;
}

.menu-container {
  display: inline-flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.phone-container {
  width: 158px;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-container:hover,
.phone-container:focus {
  border: 1px solid #ecd979;
}

.phone-link {
  width: 118px;
  display: flex;
  color: #1c2225;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  text-transform: uppercase;
}

.menu-close-btn {
  padding: 0;
  background-color: #ecd979;
  border: none;
  stroke: #1c2225;
  width: 36px;
  height: 36px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.mob-menu-list {
  text-align: right;
}

.mob-menu-item {
  color: #1c2225;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    width: 380px;
    padding-bottom: 364px;
    background-image: url(../img/menu/tablet-ornament.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px 32px 0px 32px;
    
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mob-menu {
      background-image: url('../img/menu/tablet-ornament@2x.png');
      background-size: 380px 364px;
    }
  }

  .menu-container {
    gap: 79px;
  }

  .phone-container {
    width: 193px;
    padding: 14px 28px;
  }

  .phone-link {
    width: 137px;
    font-size: 14px;
    line-height: 1.43;
  }

  .menu-close-btn {
    width: 44px;
    height: 44px;
  }


  .menu-btn-icon {
    width: 44px;
    height: 44px;
  }
}
