.section-order {
    background-color: #1C2225;
    padding-top: 80px;
    padding-bottom: 80px;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #1c2225;
    color: #fcf9f9;
}

.container {
    margin: 0 auto;
    width: 375px;
    padding: 0 20px;
}




.order-title {
    color: #FCF9F9;
    font-size: 32px;
    font-family: Manrope;
    font-weight: 500;
    line-height: 44px;
    word-wrap: break-word;
    margin-bottom: 40px;
    max-width: 335px;

}

.order-span {
    color: #ECD979;
    font-size: 32px;
    font-family: Manrope;
    font-weight: 500;
    line-height: 44px;
    word-wrap: break-word
}

.order-field {
    position: relative;
    margin-bottom: 20px;
}

.order-comment-area {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.footer-label {
    position: relative;

}

.order-input {
    border-radius: 4px;
    border: 1px rgba(252, 249, 249, 0.10) solid;
    width: 335px;
    height: 47px;
    border-radius: 15px;
    background-color: transparent;
    padding: 14px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FCF9F9;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    resize: none;
    font-size: 14px;
    font-family: Manrope;
    font-weight: 400;
}



.input-container:focus-within  {
    border-color: #FCF9F9;
}

.input-container:focus-within  {
    fill: #FCF9F9;
}

.comment-modal-field {
    position: relative;
    margin-bottom: 16px;
    width: 360px;
}

.order-label {
    display: block;
    position: relative;
}

.order-comment-area {
    border-radius: 8px;
    border: 1px rgba(252, 249, 249, 0.10) solid;
    width: 335px;
    height: 196px;
    background-color: transparent;
    padding: 14px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FCF9F9;
    font-size: 14px;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    resize: none;
    margin-bottom: 40px;
}

.order-comment-area:hover,
.order-comment-area:focus,
.order-comment-area:active {
    color: #FCF9F9;
}

.order-btn-input:focus,
.order-btn-input:hover {
    background-color: none;
    border-color: #ECD979;
}

.order-btn-input {
    color: #FCF9F9;
    font-size: 14px;
    font-family: Manrope;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    background-color: #1C2225;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 15px;
    border: 1px rgba(252, 249, 249, 0.10) solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}



.order-icon {
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-arrow {
    width: 1.5em;
}



.section-order-img {
    margin-bottom: 80px;
}

.section-order-img2 {
    display: none;

}

.img-first {
    background-image: url(../img/girl-tel-x2.jpg);
    margin: auto;
    margin-bottom: 80px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 550px;
}





























@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-advantages-content {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../img/girk-tel-2x.jpg);
    }




}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 32px;
    }

    .section-order {
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .section-order-img2 {
        display: block;
        width: 638px;
        height: 521px;
    }

    .order-title {
        font-size: 44px;
        font-weight: 500;
        max-width: 542px;
    }

    .order-span {
        font-size: 44px;
        font-weight: 500;
        max-width: 542px;
    }


    .order-btn-input {
        width: 168px;
        margin-bottom: 100px;
    }



    .img-first {
        background-image: url(../img/girl-tab.jpg);
        min-width: 720px;
        height: 768px;

    }

    .order-input {
        font-size: 16px;
        font-weight: 400;

    }
    .order-comment-area{
    font-size: 16px;
    font-weight: 400;
    }

   












    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-advantages-content {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../img/girk-tab-2x.jpg);
        }
    }
















}

@media screen and (min-width: 1280px) {

    .container {
        width: 1280px;
        padding: 0 100px;
    }

    .section-order {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .section-order-img2 {
        display: block;
        width: 524px;
    }

    .img-first {
        background-image: url(../img/girl-pc.jpg);
        width: 1282px;
        height: 776px;
    }

    .order-title {
        font-size: 44px;
        font-weight: 500;
        max-width: 542px;
    }

    .order-span {
        font-size: 44px;
        font-weight: 500;
        max-width: 542px;
    }

    .order-wrap {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
    }






    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-advantages-content {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../img/girk-pc-2x.jpg);
        }
    }




}

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
    }

    .section-order-img2 {
        display: block;

    }

    .img-first {
        background-image: url(../img/girl-pc2.jpg);
        width: 1440px;
    }

    .order-title {  
            max-width: 666px;}




    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-advantages-content {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../img/girk-pc2-2x.jpg);
        }
    }
}