.order-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  margin-bottom: 40px;
  width: 335px;
  letter-spacing: -0.96px;
}
.order-span {
  color: #ecd979;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.96px;
}
.order-field {
  margin-bottom: 20px;
}
.order-comment-area {
  color: rgba(252, 249, 249, 0.5);
  border-radius: 8px;
  border: 1px rgba(252, 249, 249, 0.1) solid;
  width: 335px;
  height: 196px;
  background-color: transparent;
  padding: 14px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  resize: none;
}
.comment-order-field {
  margin-bottom: 40px;
}
.order-input {
  border: 1px rgba(252, 249, 249, 0.1) solid;
  width: 335px;
  border-radius: 15px;
  background-color: transparent;
  padding: 14px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(252, 249, 249, 0.5);
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 400;
}
.order-input:hover,
.order-input:focus,
.order-input:active {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
}
.order-comment-area:hover,
.order-comment-area:focus,
.order-comment-area:active {
  color: #fcf9f9;
}

.order-btn-input {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 14px 36px;
  border: 1px rgba(252, 249, 249, 0.1) solid;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  margin: 0 auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn-input:focus,
.order-btn-input:hover {
  border-color: #ecd979;
}
.order-icon {
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-img2 {
  display: none;
}
.section-order-img2 {
  border-radius: 4px;
}
.img-first {
  background-image: url(../img/order/girl-tel.jpg);
  margin: 0 auto;
  max-width: 375px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  margin-bottom: 80px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .img-first {
    background-image: url(../img/order/girl-tel-x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .order-title {
    font-size: 44px;
    width: 542px;
    line-height: 1.32;
    letter-spacing: -1.32px;
  }
  .order-span {
    font-size: 44px;
    line-height: 1.32;
    letter-spacing: -1.32px;
  }
  .order-btn-input {
    width: 168px;
    padding: 14px 39px;
    font-size: 16px;
    letter-spacing: -0.64px;
    margin: 0;
  }
  .img-first {
    background-image: url(../img/order/girl-tab.jpg);
    max-width: 768px;
    height: 776px;
    margin-bottom: 100px;
  }
  .order-input,
  .order-comment-area {
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 508px;
  }
  .order-img2 {
    display: block;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .section-order {
      padding-bottom: 79px;
    }
    .order-img2 {
      margin-top: 100px;
      padding-left: 66px;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .img-first {
      background-image: url(../img/order/girl-tab-x2.jpg);
    }
  }
  .backgraund-pic {
    background-image: url(../img/order/background-logo-tab.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .backgraund-pic {
      background-image: url(../img/order/background-logo-tab@2x.png);
      background-size: 323px 484px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .order-container {
    width: 1136px;
  }
  .img-first {
    background-image: url(../img/order/girl-pc.jpg);
    max-width: 1282px;
    margin-bottom: 150px;
  }
  .order-wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .img-first {
      background-image: url(../img/order/girl-pc2-x2.jpg);
    }
  }
  .backgraund-pic {
    background-image: url(../img/order/background-logo-desk1280.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .backgraund-pic {
      background-image: url(../img/order/background-logo-desk1280@2x.png);
      background-size: 289px 484px;
    }
  }
}
@media screen and (min-width: 1440px) {
  .order-container {
    width: 1260px;
  }

  .img-first {
    background-image: url(../img/order/girl-pc2.jpg);
    max-width: 1440px;
  }
  .order-title {
    width: 666px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .img-first {
      background-image: url(../img/order/girl-pc-x2.jpg);
    }
  }
  .backgraund-pic {
    background-image: url(../img/order/background-logo-desk1440.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .backgraund-pic {
      background-image: url(../img/order/background-logo-desk1440@2x.png);
      background-size: 325px 484px;
    }
  }
}
