.testimonials {
  padding-top: 80px;
}
.section-title {
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: -1.32px;
}
.item-title {
  margin-top: 54px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
.description {
  margin-top: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  letter-spacing: -0.15px;
}
.item-container {
  position: relative;
  margin-top: 64px;
  padding: 0 18px 18px 18px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 4px;
}
.photo {
  position: absolute;
  top: -25px;
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
}

.testimonial-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1279px) {
  .testimonial-list-item:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .testimonials {
    padding: 80px 20px 80px 20px;
  }
  .section-title {
    font-size: 32px;
  }
  .testimonial-list {
    gap: 0px;
  }
  .testimonial-list-item:nth-child(2) {
    display: none;
  }
  .description {
    font-size: 14px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .item-container {
    width: 335px;
    height: 243px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .testimonial-list {
    gap: 32px;
  }
  .item-container {
    width: 336px;
    height: 286px;
  }
  .testimonials {
    padding: 100px 32px 100px 32px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .item-container {
    width: 342px;
    height: 285px;
  }
}
@media screen and (min-width: 1280px) {
  .testimonials {
    padding: 150px 100px 150px 100px;
  }
  .testimonial-list {
    gap: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .item-container {
    width: 396px;
    height: 264px;
  }
}
